@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/* CONFIGURAÇÕES GERAIS DO SITE */

:root {
    --color-background: #7478A8;

    --color-1: #50577A;
    --color-2: #404258;
    --color-3: #2F2E41;
}

* {
    padding: 0px;
    margin: 0px;

    color: white;
}

body {
    background-color: var(--color-background);

    font-family: 'Open Sans', sans-serif;
    font-weight: medium;
}

/* CABEÇALHO */

header {
    display: flex;

    background-color: var(--color-3);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);

    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    padding: 0px 20px;
    min-height: 50px;
}

header img {
    padding: 10px 5px;
    max-height: 45px;
}

header img:hover {
    transform: scale(1.15);
}

nav {
    display: flex;
    align-items: center;
    gap: 14px;
}

nav a {
    font-size: 16px;
    font-weight: bold;

    white-space: nowrap;
    text-decoration: none;
}

nav a#stark {
    color: black;

    background-color: white;
    padding: 4px 9px;
    border-radius: 8px;
}

nav a:hover {
    transform: scale(1.1);
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* SOBRE MIM */

#about-me {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;

    gap: 25px;
    margin-top: 25px;
}

#about-me img {
    border-radius: 15px;
    box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.5);

    max-height: 380px;
    max-width: 480px;
}

#about-me img:hover {
    transform: scale(1.03);
}

#about-me section {
    background-color: var(--color-1);

    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 18px;
    margin: 4px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#about-me section h1 {
    background-color: var(--color-2);

    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 7px 40px;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: bold;

    white-space: nowrap;
}

#about-me section p {
    font-size: 15px;
    text-align: justify;

    max-width: 640px;
}

#about-me section aside {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px 30px;
    margin-top: 15px;
}

#about-me section aside a {
    background-color: var(--color-3);
    border-radius: 12px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;
    padding: 6px 20px;
}

#about-me section aside p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    font-weight: bold;
}

#about-me section aside img {
    border-radius: 0px;
    box-shadow: none;

    height: 20px;
}

#about-me section aside a:hover {
    transform: scale(1.03);
}

/* MEUS PROJETOS */

#projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    margin-top: 25px;
}

#projects>h1 {
    background-color: var(--color-2);
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 5px 15%;

    font-size: 24px;
    font-weight: bold;
}

#projects>p {
    background-color: var(--color-1);
    padding: 10px;
    margin: 15px 0px;
    max-width: 900px;

    font-size: 16px;
    font-weight: normal;

    text-align: center;
}

#projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 25px;

    max-width: 1000px;
    margin-bottom: 25px;
}

#projects section {
    background-color: var(--color-1);
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 60px;
}

#projects section:hover {
    transform: scale(1.03);
}

#projects section img {
    margin-top: 10px;
    max-height: 180px;
}

#projects section img:hover {
    transform: scale(1.03);
}

#projects section h2 {
    margin-top: 4px;

    font-size: 20px;
    font-weight: bold;

    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}

#projects section p {
    color: antiquewhite;

    font-size: 12px;

    margin: 0px 0px 9px 0px;
}

#projects section span {
    background-color: var(--color-2);
    border-radius: 16px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 8px;
    width: 180px;
    padding: 5px 0px;

    font-size: 12px;
    font-weight: 600;

    text-align: center;
}

#projects section span:hover {
    transform: scale(1.03);
}

/* MEUS PROJETOS - SABER MAIS */

#projects-show-more {
    height: 100%;
    width: 100%;

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 99;
    position: fixed;

    top: 0px;

    background-color: rgba(0, 0, 0, 0.6)
}

#projects-show-more div {
    background-color: var(--color-1);

    height: 80%;
    width: 70%;
}

/* RODAPÉ */

footer {
    background-color: var(--color-3);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    min-height: 40px;
}

/* RESPONSIVIDADE */

@media (max-width: 540px) {
    header img {
        height: 36px;
    }

    #about-me img {
        max-width: 340px;
    }
}

@media (max-width: 400px) {
    nav {
        gap: 6px;
    }

    nav a {
        font-size: 13px;
    }

    nav a#stark {
        padding: 1px 6px;
    }

    #about-me img {
        max-width: 260px;
    }

    #projects section {
        padding: 8px 50px;
    }
}